<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buildex - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/buildex/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/buildex/css/animate.css" )>

    <link rel="stylesheet" href="~/buildex/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/buildex/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/buildex/css/magnific-popup.css">

    <link rel="stylesheet" href="~/buildex/css/aos.css">

    <link rel="stylesheet" href="~/buildex/css/ionicons.min.css">

    <link rel="stylesheet" href="~/buildex/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/buildex/css/nouislider.css">


    <link rel="stylesheet" href="~/buildex/css/flaticon.css">
    <link rel="stylesheet" href="~/buildex/css/icomoon.css">
    <link rel="stylesheet" href="~/buildex/css/style.css">
    <link rel="stylesheet" href="~/buildex/css/Solidarius.css">


    <script src="~/buildex/js/jquery-3.2.1.min.js"></script>
    <script src="~/buildex/js/bootstrap.min.js"></script>
    <script src="~/buildex/js/main.js"></script>
</head>
<body>
    <div class="main-section">
        <section>
            <div class="navbar-transparent px-md-0 img pb-md-5 navbar-wrap bg-transparent"
                 style="background-image: url(/buildex/images/slider-3.jpg); height: 500px;">

                <div class="container">
                    <div class="row pt-md-4 pb-md-5">
                        <div class="col-md-12">
                            <nav class="navbar px-0 navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="#">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Página Inicial</font>
                                    </font>
                                </a>

                                <button class="navbar-toggler"
                                        type="button" data-toggle="collapse"
                                        data-target="#navbarsExample08"
                                        aria-controls="navbarsExample08"
                                        aria-expanded="false"
                                        aria-label="Alternar de navegação">
                                    <span class="oi oi-menu"></span>
                                </button>

                                <div class="navbar-collapse collapse" id="navbarsExample08" style="">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item d-flex active">
                                            <a class="nav-link d-flex align-items-center"
                                               href="#">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Descobrir
                                                    </font>
                                                </font><span class="sr-only">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">
                                                            (atual)
                                                        </font>
                                                    </font>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item d-flex">
                                            <a class="nav-link d-flex align-items-center"
                                               href="#">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Perfil</font>
                                                </font>
                                            </a>
                                        </li>
                                        <li class="nav-item d-flex dropdown">
                                            <a class="nav-link d-flex" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Configurações
                                                    </font>
                                                </font>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </nav>

                            <div class="col-md-8 text-center">
                                <div class="text">
                                    <h1>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" id="font">
                                                Solidarius
                                            </font>
                                        </font>
                                    </h1>
                                </div>
                            </div>

                        </div>
                        <div>@RenderBody()</div>
                    </div>
                </div>
            </div>

        </section>
        <!-- END nav -->

        <section class="ftco-section" id="images">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="heading-section mb-4">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Sobre Nós</font>
                                    </font>
                                </font>
                            </font>
                        </h2>
                        <div class="row">
                            <div class="col-md-3 text-center sobre">
                                <h2 class="heading-section mb-4">
                                    <small>
                                        <font style="vertical-align: inherit;">Marcos Vinícius</font>
                                    </small>
                                </h2>
                                <img src="~/buildex/images/MarcosSmall.jpg"
                                     alt="Imagem redonda" class="rounded-circle img-fluid image espacoimagem">
                                <h2 class="heading-section mb-4">
                                    <small>
                                        <font style="vertical-align: inherit;">19 anos, Sistemas de Informação</font>
                                    </small>
                                </h2>
                            </div>

                            <div class="col-md-3 text-center sobre">
                                <h2 class="heading-section mb-4">
                                    <small>
                                        <font style="vertical-align: inherit;">Pessoa 2</font>
                                    </small>
                                </h2>
                                <img src="~/buildex/images/avatar.jpg"
                                     alt="Imagem redonda" class="rounded-circle img-fluid image espacoimagem">
                                <h2 class="heading-section">
                                    <small>
                                        <font style="vertical-align: inherit;">Informações pessoa 2</font>
                                    </small>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>@RenderBody()</div>
        </section>

    </div>
</body>
</html>